main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid $gray-color;

    .containerMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 3rem;
        border-bottom: 1px solid $gray-color;
        
        h4 {
            text-transform: uppercase;
        }
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem 10%;
        
        .card {
            margin-bottom: 2rem;
            position: relative;

            p {
                font-weight: 600;
                margin: 0.5rem 0;
            }

            span {
                color: $primary-color;
                text-decoration: underline;
                font-weight: 600;
            }

            button {
                background-color: $primary-color;
                color: $white-color;
                font-weight: 900;
                font-size: 1.1rem;
                padding: 0.6rem 1.6rem;
                border-radius: 0.5rem;
                box-shadow: 0 4px 8px $gray-color;
                transition: ease-in .3s;
            }

            button:hover {
                background-color: $brown-color;
            }      

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                height: 75%;
                background-color: transparent;
                opacity: 0.5;
                transition: background-color .5s ease-in-out;
            }
            
            .overlay:hover {
                background-color: $primary-color;
            }
        }
    }
}

@media screen and (max-width: 2560px) {
    main {
        .card {
            img {
                width: 80%;
            }

            .overlay:hover {
                height: 80%;
            }

        }
    }
}


@media screen and (max-width: 1900px) {
    main {
        .card {
            .overlay:hover {
                height: 75%;
            }

        }
    }
}


@media screen and (max-width: 1440px) {
    main {
        .cards {
            .card {
                .overlay:hover {
                    height: 75%;
                }
                
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    main {
        .cards {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin: 2rem 10%;
        }

        .card {
            img {
                width: 80%;
            }

            .overlay:hover{
                height: 67%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        .cards {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin: 2rem 10%;

            .card {
                p {
                    font-size: 0.8rem;
                }
                button {
                    font-size: 0.8rem;
                }

                .overlay:hover {
                    height: 62%;
                }
            }
        }

    }
}

@media screen and (max-width: 430px) {
    main {

        .containerMain {
            h4 {
                font-size: 0.8rem;
            }
        }

        .cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin: 2rem 10%;

            .card {
                img {
                    width: 80%;
                }
    
                .overlay:hover {
                    height: 60%;
                }
            }
        }

    }
}   

@media screen and (max-width: 375px) {
    main {
        .cards {
            .card {
                .overlay:hover {
                    height: 50%;
                }
            }
        }
     }
}